body {
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    #2f2e94,
    #33309b,
    #3733a4,
    #3c35a9,
    #3f37b0,
    #463bbd,
    #4b3dc4,
    #4e40cb
  );
}
.wrapper {
  padding: 40px;
  margin: 0 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
}
.burger-button {
  display: none;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 20;
  left: 70px;
  top: 45px;
}

.header nav ul {
  margin: 0;
  padding: 0;
}
.header nav ul li {
  list-style: none;
  display: inline-flex;
}
.header nav ul li a {
  margin-right: 50px;
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  transition: 0.5s;
}
.header nav ul li a:hover {
  transform: scale(1.1);
  /* letter-spacing: 0.1em; */
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.left h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 400;
}
.left span {
  font-size: 3.5em;
  font-weight: 900;
}
.left p {
  margin: 40px 0;
}
.btn {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  border-radius: 25px;
  border: transparent;
  padding: 10px 15px;
  background: linear-gradient(
    to right,
    #3d5fb9,
    #477ac6,
    #54a7d9,
    #5fcbe7,
    #65dded
  );
  background-size: 200%;
  cursor: pointer;
  outline: 0;
  transition-property: transform, background-color;
  transition: 0.8s;
  will-change: transform, background-color;
}
.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-position: right;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  height: 500px;
}
/*Modal*/
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 1.1s ease-in; */
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  max-width: 500px;
  background-color: #3d5fb9;
  padding: 2em;
  border-radius: 0.5em;
  text-align: center;
  position: relative;
}
.modal h1 {
  font-weight: 900;
}
.modal p {
  margin: 10px;
}
.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  border-radius: 25px;
  border: transparent;
  padding: 10px 15px;
  cursor: pointer;
  outline: 0;
}
.button.primary {
  background-color: #7dc800;
}
.button.warning {
  background-color: #ff463b;
}
.close {
  position: absolute;
  top: 5px;
  right: 8px;
}

@keyframes animationIn {
  from {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
}
@keyframes animationOut {
  from {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
@keyframes animationFalse {
  from {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(3000px);
  }
}
/*Media Query*/
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .burger-button {
    display: flex;
    top: 30px;
    left: 25px;
  }
  .menu {
    position: fixed;
    background-color: rgba(5, 111, 255, 0.9);
    width: 100vw;
    left: -100vw;
    z-index: 15;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is_active {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 30px;
    margin: 0px 0px;
  }
  .burger-button {
    top: 20px;
    left: 15px;
  }
  .header nav ul li a {
    margin-right: 20px;
    font-size: 0.8em;
  }
  .left h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
  }
  .left span {
    font-size: 2.5em;
    font-weight: 900;
  }
  .left p {
    font-size: 0.9em;
    /* text-align: center; */
    margin: 40px 0;
  }
  .right img {
    height: 300px;
    width: 300px;
  }
  .modal {
    max-width: 300px;
  }
  .modal p {
    margin: 10px;
  }
}
@media screen and (max-width: 320px) {
  .header nav ul li a {
    font-size: 0.8em;
    margin-right: 0px;
  }
  .right img {
    height: 200px;
    width: 200px;
  }
  .modal {
    max-width: 240px;
  }
  .button {
    font-size: 0.9em;
    padding: 10px 10px;
  }
}
